git+https://github.com/Cromlech/crom#egg=crom
git+https://github.com/Cromlech/grokker#egg=grokker

git+https://github.com/Cromlech/cromlech.browser#egg=cromlech.browser
git+https://github.com/Cromlech/cromlech.configuration#egg=cromlech.configuration
git+https://github.com/Cromlech/cromlech.content#egg=cromlech.content
git+https://github.com/Cromlech/cromlech.dawnlight#egg=cromlech.dawnlight
git+https://github.com/Cromlech/cromlech.events#egg=cromlech.events
git+https://github.com/Cromlech/cromlech.grok#egg=cromlech.grok
git+https://github.com/Cromlech/cromlech.i18n#egg=cromlech.i18n
git+https://github.com/Cromlech/cromlech.jwt#egg=cromlech.jwt
git+https://github.com/Cromlech/cromlech.location#egg=cromlech.location
git+https://github.com/Cromlech/cromlech.security#egg=cromlech.security
git+https://github.com/Cromlech/cromlech.sessions.jwt#egg=cromlech.sessions.jwt
git+https://github.com/Cromlech/cromlech.webob#egg=cromlech.webob

git+https://github.com/Cromlech/dawnlight#egg=dawnlight

git+https://github.com/Cromlech/dolmen.collection#egg=dolmen.collection
git+https://github.com/Cromlech/dolmen.forms.base#egg=dolmen.forms.base
git+https://github.com/Cromlech/dolmen.forms.ztk#egg=dolmen.forms.ztk
git+https://github.com/Cromlech/dolmen.message#egg=dolmen.message
git+https://github.com/Cromlech/dolmen.tales#egg=dolmen.tales
git+https://github.com/Cromlech/dolmen.template#egg=dolmen.template
git+https://github.com/Cromlech/dolmen.view#egg=dolmen.view
git+https://github.com/Cromlech/dolmen.viewlet#egg=dolmen.viewlet

waitress >= 1.1.0
